html, body, #cover-image, nav {
	padding: 0;
	margin: 0;
	height: 100%;
}

a {
	display: block;
	flex: 0;
}

#cover-image {
	background-color: gray;
	background-image: url(../img/dice.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(120, 0, 0, 0.5);
}

.navigation {
	padding: 0;
	margin: auto;
	width: 980px%;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.navigation-item {
	display: inherit;
}
.navigation-item > a,
.naviagtion-item > a:focus,
.naviagtion-item > a:visited,
.naviagtion-item > a:link{
	margin: 0 1em;
	display: block;
	flex: 0 1 auto;
	background-color: lightblue;
	text-align: center;
	padding: 1em;
	text-decoration: none;
}

.selected > a{
	background-color: black;
	color: white;
}

.main-content {
	min-height: 500px;
	width: 980px;
	margin: auto;
}

h1 {
	margin: 0;
	padding: 0;
	color: white;
	font-weight: bold;
	font-size: 6rem;
	text-align: center;
}

h2 {
	margin: 0;
	padding: 0;
	color: red;
	font-weight: bold;
	font-size: 4rem;
	text-align: center;
}

h3 {
	margin: 0;
	padding: 0;
	color: black;
	font-weight: bold;
	font-size: 2.5rem;
}
