html, body, #cover-image, nav {
	padding: 0;
	margin: 0;
	height: 100%;
}

a {
	display: block;
	flex: 0;
}

#cover-image {
	background-color: gray;
	background-image: url(../img/dice.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(120, 0, 0, 0.5);
}

.navigation {
	padding: 0;
	margin: auto;
	list-style: none;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.navigation-item {
	display: inherit;
}
.navigation-item > a,
.naviagtion-item > a:focus,
.naviagtion-item > a:visited,
.naviagtion-item > a:link{
	display: none;
	flex: 0 1 auto;
	background-color: lightblue;
	text-align: center;
	padding: 1em;
	text-decoration: none;
	width: 100%;
	font-family: arial;
	font-weight: bold;
	color: black;
}

.navigation-item > a:hover{
	color: white;
	background-color: black;
}

.navigation-selection-item {
	font-family: arial;
	font-weight: bolder;
	padding: 0.5em;
	padding-right: 0;
	color: white;
}

.navigation-selection-item > span {
	float: right;
	border: 1px solid white;
	padding: 0.5em;
	cursor: pointer;
}

.navigation-selection-item > span:hover,
.navigation-selection-item > span.selected {
	border-color: black;
	background-color: black;
}

.selected > a{
	background-color: black;
	color: white;
}

.content-area {
	max-width: 980px;
	margin: 0 auto;
	padding:0 1em;
}

.main-content-area {
	min-height: 500px;
	font-family: arial;
	max-width: 980px;
	margin: 0 auto;
	margin-top: 3em;
	padding: 0 1em;
}

h1 {
	margin: 0;
	padding: 0;
	color: white;
	font-weight: bold;
	font-size: 6rem;
	text-align: center;
}

h2 {
	margin: 0;
	padding: 0;
	color: red;
	font-weight: bold;
	font-size: 4rem;
	text-align: center;
}

h3 {
	margin: 0;
	padding: 0;
	color: black;
	font-weight: bold;
	font-size: 2.5rem;
}
