html, body, #cover-image, nav {
	padding: 0;
	margin: 0;
	height: 100%;
}

a {
	display: block;
	flex: 0;
}

#cover-image {
	background-color: gray;
	background-image: url(../img/dice.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(120, 0, 0, 0.5);
}

.navigation {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.navigation-item {
	display: inherit;
}
.navigation-item > a,
.naviagtion-item > a:focus,
.naviagtion-item > a:visited,
.naviagtion-item > a:link{
	margin: 0 1em;
	display: block;
	flex: 0 1 auto;
	background-color: lightblue;
	text-align: center;
	padding: 1em;
	text-decoration: none;
}

.selected > a{
	background-color: black;
	color: white;
}

section {
	min-height: 500px;
}

h1 {
	margin: 0;
	padding: 0;
	color: white;
	font-weight: bold;
	font-size: 6rem;
	text-align: center;
}

h2 {
	margin: 0;
	padding: 0;
	color: red;
	font-weight: bold;
	font-size: 4rem;
	text-align: center;
}

h3 {
	margin: 0;
	padding: 0;
	color: black;
	font-weight: bold;
	font-size: 2.5rem;
}
.form-wrapper {
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 100%;
}

.form-wrapper > h3,
.form-wrapper > form,
.result-wrapper {
	margin: auto;
}

.form-wrapper > form > button {
	line-height: 37.5px;
}

.form-wrapper > form > input,
.form-wrapper > form > button,
.result-wrapper > h3,
.result-wrapper > button {
	
	padding: 0.5em;
	background-color: #ececec;
	border: none;
	border-bottom: 1px solid #000;
	font-size: 2rem;
	font-weight: bold;
}
.result-wrapper {
	margin-top: 1em;
	display: flex;
	width: 100;
	justify-content: center;
}
.result-wrapper > h3 {
	min-width: 150px;
	text-align: center;
}
.result-wrapper > button {
	margin-left: 0.15em;
}
.form-wrapper > form > button:hover,
.result-wrapper > button:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}
/*Svg styles*/
.icon {
  /* Allows sizing by changing the icon’s font-size */
  width: 1em; height: 1em;
  /* Nice visual alignment for icons alongside text */
  vertical-align: -0.15em;
  /* Default path fill = value of the color property */
  fill: currentColor;
  /* Paths and strokes that overflow the viewBox can show in IE.
     If you use normalize.css, it already sets this. */
  overflow: hidden;

  font-size: 60px;
}
#play:hover {
	fill: blue;
	cursor: pointer;
}