<!DOCTYPE html>
<html lang="sv">
	<head>
		<meta charset="UTF-8">
		<title>GoLangTestSite</title>
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/styles.css"></link>
	</head>
	<body>
		<div id="cover-image">
			<header>
				<nav>
					<ul class="navigation">
						<li class="navigation-item">Item1</li>
						<li class="navigation-item">Item2</li>
						<li class="navigation-item">Item3</li>
						<li class="navigation-item">Item4</li>
						<li class="navigation-item">Item5</li>
					</ul>
				</nav>
			</header>
			<h1>Welcome to my testsite!</h1>
		</div>
		<section>
			<h2>Server written in GoLang</h2>
		</section>
	</body>
</html>