<!DOCTYPE html>
<html lang="sv">
	<head>
		<meta charset="UTF-8">
		<title>GoLangTestSite</title>
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/styles.css"></link>
	</head>
	<body>
		<div id="cover-image">
			<header>
				<nav>
					<ul class="navigation">
						<li class="navigation-item"><a href="#" title="Item1">Item1</a></li>
						<li class="navigation-item"><a href="#" title="Item2">Item2</a></li>
						<li class="navigation-item"><a href="#" title="Item3">Item3</a></li>
						<li class="navigation-item"><a href="#" title="Item4">Item4</a></li>
						<li class="navigation-item"><a href="#" title="Item5">Item5</a></li>
					</ul>
				</nav>
			</header>
			<h1>Welcome to my testsite!</h1>
			<a href="#" title="Play" aria-label="Play song">
				<svg class="icon" aria-hidden="true">
					<use xlink:href="../public/img/icons.svg#play"></use>
				</svg>
			</a>
		</div>
		<section>
			<h2>Server written in GoLang</h2>
		</section>
	</body>
</html>